.button-label {
	padding-top: 5px;
}

.chat-room-div {
	margin: 5px 5px 0 0;
	float: left;
	width: 200px;
}

.chat-room-image-wrapper img {
	object-fit: contain;
	max-width: 200px;
}

.chat-room-title {
	display: inline-block;
}

.chat-room-header-wrapper {
	text-align: left;
}

.chat-room-header-wrapper img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.messg-wrapper {
	display: inline-block;
	width: 400px;
	margin: 0 auto;
	border: 1px solid #cccc;
    background-color: white;
    padding: 20px;
}

.chat-room-content {
	text-align: center;
}

.messages-wrapper {
	height: 400px;
	text-align: left;
	overflow: auto;
    margin-bottom: 10px;
}

.message-submit-wrapper,
.message-textarea-wrapper {
	display: inline-block;
	text-align: left;
}

.message-textarea-wrapper {
	width: 290px;
	margin-right: 8px;
}

.write-message-section {
	display: flex;
}
